/*
  Standardize the format of this CSS file for final production build. 
  Make sure everything is commented out appropriately and make sure all 
  CSS3 attributes are alphabetized accordingly. 

*/

body {
  background-color: whitesmoke; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content-view, .sidebar-view, .navbar {
  margin-top: 15px; 
}


/* Content View Section */
.content-view {
  border: 2px solid black; 
  height: 90vh; 
}


 /* Navbar Section */
.navbar {
  background-color: rgba(93, 181, 240, 0);
  border-right: 8px solid rgba(95, 125, 145, 0.9);
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}

.navbar:hover {
  background-color: rgba(195,209,221, 0.9);
  border-right: 8px solid rgba(92, 92, 91, 0.9);
}

.nav-link {
  padding-top: 5px; 
}

.nav-index {
  height: 30px; 
  width: 30px; 
  -webkit-filter: invert(98%);
  filter: invert(98%); 
}

.nav-item {
  font-size: 21px; 
  font-family: 'Open Sans Condensed', sans-serif;
}

#icon {
  font-size: 16px; 
  margin: auto; 
}


/* Sidebar Infographic Section */
.markee {
  font-size: 18px; 
  text-align: center; 
}

.table-markee {
  border-bottom: 2px solid #737987; 
  margin: auto; 
}

.portfolio-logo {
  display: block; 
  height: 65px; 
  margin: auto; 
  width: 65px;
}

.portfolio-id {
  padding: 15px; 
}

.portfolio-profile {
  border: 2px solid rgb(194,190,145);
  border-radius: 280px;
  height: 140px; 
  width: 135px; 
}

.portfolio-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px; 
  padding-bottom: 10px; 
  padding-top: 10px; 
  text-align: center;
}

.quick-links {
  padding: 10px; 
}

.quick-links-img {
  height: 20px; 
  width: 20px; 
 }

.table-quick-links {
  margin-top: 15px; 
  margin-left: auto; 
  margin-right: auto; 
}


/* Footer Section */ 
a.footer-link {
  text-decoration: none; 
}

.footer-title {
  color: grey; 
}

/* Skill Bar Section */
.container-skills {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-right: 20px; /* Add some right padding */
  line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
  color: white; /* White text color */
}

.frontend {width: 90%; background-color: #808080;} /* Green */
.js {width: 80%; background-color: #808080;} /* Blue */
.product-manage {width: 65%; background-color: #808080;} /* Red */
.python {width: 65%; background-color: #808080;} /* Dark Grey */
.backend {width: 60%; background-color: #808080;} /* Dark Grey */