.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Need to adjust spacing with @media-queries for smaller screens */
.content-view {
  height: 85%;
  padding-top: calc(35px*1.5);
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;  
}

/* Need to make footer height responsive for smaller screens with @media-queries */
.footer {
  height: calc(35px*1.4);
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;  
}


a.footer-link {
  text-decoration: none; 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;
}

.footer-title {
  color: #373737;
  font-style: italic;
  font-size: 15px; 
  margin-top: calc(35px*0.3);
  text-align: center;  
}

.navbar {
  height: auto; 
  width: 100vw;
  overflow: hidden; 
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav, .navbar-nav {
  float: none; 
  display: block; 
  margin: 0 auto;
  text-align: center;  
}

.nav-index {
  
  height: 35px; 
  width: 35px; 
  -webkit-filter: invert(80%);
  filter: invert(80%);
}

.navbar-brand, .nav-item {
  display: inline-block; 
  float: none; 
}

.nav-section {
  background: rgb(218, 222, 222);
  height: 7%; 
}

.portfolio-logo {
  height: 80px;
  float: right; 
  margin-top: calc(35px*4.5);
  margin-right: calc(35px); 
}

.portfolio-title, .portfolio-tagline {
  padding-right: calc(35px);
}

.portfolio-title {
  text-align: right; 
  clear: right; 
  padding-top: calc(35px); 
}

.portfolio-tagline {
  text-align: right; 
  font-size: 18px; 
  font-style: italic;
}

.quick-links {
  padding-top: calc(35px*0.25);
  padding-right: calc(35px*0.25); 
}

.quick-links:hover {
  cursor: pointer; 
}

.quick-links-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;   
}

.sidebar-bg {
  background-color: rgba(	239, 228, 213, 0.3);
  height: 15%; 
  margin: -15px; 
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  background: url(assets/sidebar-background.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: right; 
  border-right: 12px solid #373737;
  height: 100vh; 
}

.sidebar:hover .sidebar-bg {
  background-color: rgba(	239, 228, 213, 0.8);
  height: 101.5%; 
}

.table-quick-links {
  border-top: 1px solid #373737;
  display: block; 
  margin-left: 15px;
  margin-right: 15px;
  margin-top: calc(35px*2.5); 
}

.viewport {
  background-color: rgb(246, 246, 245); 
  height: 100vh; 
}

.border {
  border: 12px solid black;
}